<h1 class="center"> Events </h1>
<hr >
<div class="container">
  <div class="col-lg-12">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= link_to (image_tag event.image.url(:square)),event_path(event) %>
              <div class="caption">
                <h3><%= event.judul %></h3>
                <p><%= event.lokasi %></p>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div> 
</div>